@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 1200px;
    max-width: 1200px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
}


h3 {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #D49B54;
    color: #B20600;
    margin: 40px;
    height: 1200px;
    max-width: 1200px;
    padding: 20px;
    border: 3px solid black;
}

.pokemon-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pokemon ul li{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-top-left-radius: 0;
    margin: 40px;
    transition: transform 1s;
  }

  .pokemon ul li:hover {
      transform: rotate(360deg);
      cursor: pointer;
  }

  p {
        text-align: center;
        float: left;
        word-spacing: 100px;
        margin-left: 35px;
        transition: transform 0.5s;
    }

    p:hover {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        transform: scale(1.2);
        cursor: pointer;
    }

    .container-attention {
        margin: 300px 300px 300px 300px;
        width: auto;
        height: auto;
        background-color: red;
        border-radius: 7px;
        border: 10px solid red;
    }

    .attention {
        position: relative;
        margin: 0 auto;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: red;
        border: 3px white solid;
        border-radius: 7px;
        text-align: center;
        animation: flash 0.5s infinite;
    }

    .attention h3 {
        animation: flash 0.5s infinite;
        font-size: 2em;
        color: white;
    }

    @keyframes flash {
        0% {
            opacity: 0;
            transform: scale(0.9);
            }
        100% {opacity: 1;}
    }
